@{
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>
<p>
    Seja bem-vindo ao primeiro site utilizando ASP.NET MVC.
</p>
<p>
    <u>@Html.Raw(ViewBag.Mensagem)</u>
</p>
@section Rodape
{
    Esse é o <strong>rodape</strong>.
}
